/*UNIVERSALS*/

body {
    margin: 0;
    padding: 0;
    background-color: #670303;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #fff;
}

.white-text {
    color: #fff;
}

.inline-block {
    display: inline-block;
}

.gold-text {
    color: #FFBD2E;
}

/*HEADER*/

header {
    height: 100px;
    background-color: #202020;
    padding: 10px;
}

header h1 {
    margin: 0;
}

header>a>img:hover {
    opacity: .5;
}

/*NAV*/

nav {
    height: 30px;
    background-color: #F5C15E;
    border-top: 4px ridge #704300;
    border-bottom: 4px ridge #704300;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav>ul>li {
    font-size: 25px;
    padding: 0 30px;
}

nav>ul>li>a {
    color: #540606;
}

/*HERO*/

#hero {
    height: 350px;
    width: 100%;
    background-image: url("../img/diagonalley.jpg");
    background-size: cover;
    background-position: center;
}

#hero>h1 {
    padding: 156px 408px;
    margin: 0;
    background-color: rgba(198,148,89, .3);
    text-shadow: 2px 2px #fff;
}

/*ASIDE*/

/*MAIN*/

main {
    background-color: #222222;
    box-shadow: inset 0px 2px 10px black;
    margin: 8px 240px 0 240px;
    padding: 8px;
}

main>h2 {
    text-align: center;
    margin: 0;
}

/*FOOTER*/

footer {
    height: 100px;
    background-color: #202020;
    padding: 16px;
    margin-top: 8px;
    clear: both;
}

#social-media-wrapper {
    text-align: center;
}

a .fa {
    padding: 16px;
}

#copyright {
    text-align: right;
}
